<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./resources/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>

  <div id='navigation' class='nav'>
    <a class='nav-item active' href='#landing'>Invite</a>
    <a class='nav-item' href='#about'>About AtishiBoT</a>
    <a class='nav-item' href='#commands'>Commands</a>
    <a class='nav-item' href='#collaborator'>Become a collaborator</a>
  </div>

  <div id='landing'>
    <div class='cover'>
      <div class='cont-1'>
        <img id='logodiscord' src='./assets/discordLogo.png'/>
        <h1>Lorem ipsum <br/>dolor sit <span class='pink'>amet</span>,</h1>
        <p>adipiscing elit. Tell us</p>
        <a class='button' target="__blank" href="https://discord.com/api/oauth2/authorize?client_id=822166581014429717&permissions=8&scope=bot">
          Invite to server
        </a>
        <br/>
       <img src='./assets/botLogo.png' id='logoBot'/>
      </div>
      <div class='cont-2'>
        <img src='./assets/landingss.JPG'/>
      </div>
    </div>
  </div>

  <div id='about'>
    <h1>About AtishiBoT</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi ac et quam venenatis. Eget proin facilisis porttitor sit commodo enim. Sapien tortor, nisi porta ac sit sed odio eros. Quam id id elementum eget tellus. Curabitur arcu sed imperdiet nam. Mus a nibh eget aliquam laoreet nec, nunc malesuada.</p>
    <p>Sit viverra lacus, fusce sed. Morbi et nulla dictum pharetra viverra fusce netus nulla eleifend. Volutpat sed non sem varius et proin odio eget. Id magna suscipit sit risus vel lectus suscipit ultrices</p>
    <p>
      Quis elit dolor amet eget. Morbi ac enim gravida nunc pellentesque pellentesque.
      Lorem sit volutpat urna tempor sem velit. Lacus, purus accumsan, quam risus. Amet magna tempor, nisi, at orci. Sem faucibus tincidunt pretium enim, enim placerat. 
    </p>
    <div class='row'>
      <i class='fa fa-github'></i>
      <i class='fa fa-instagram'></i>
    </div>
  </div>

  <div id='commands'>
    <div class='command-bg'>
      <h1>Commands</h1>
      <p><b>Prefix: atishi</b></p>
      <div class='command-grid'>
        <div class='command-box'>
          <div class='command-orange'>atishi help</div>
          <p class='command-p'><b>Shows lyrics of the song entered</b></p>
          <p class='command-p'>Eg- atishi lyrics Zaalima : Shows Lyrics of Zaalima</p>
        </div>

        <div class='command-box'>
          <div class='command-orange'>atishi help</div>
          <p class='command-p'><b>Shows lyrics of the song entered</b></p>
          <p class='command-p'>Eg- atishi lyrics Zaalima : Shows Lyrics of Zaalima</p>
        </div>

        <div class='command-box'>
          <div class='command-orange'>atishi help</div>
          <p class='command-p'><b>Shows lyrics of the song entered</b></p>
          <p class='command-p'>Eg- atishi lyrics Zaalima : Shows Lyrics of Zaalima</p>
        </div>

        <div class='command-box'>
          <div class='command-orange'>atishi help</div>
          <p class='command-p'><b>Shows lyrics of the song entered</b></p>
          <p class='command-p'>Eg- atishi lyrics Zaalima : Shows Lyrics of Zaalima</p>
        </div>
      </div>

      <img class='command-img' src='./assets/command.png'/>
    </div>
  </div>

  <div id='collaborator'>
    <div class='colab'>
      <h1>Become a Collaborator</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi ac et quam venenatis. Eget proin facilisis porttitor sit commodo enim. Sapien tortor, nisi porta ac sit sed odio eros. Quam id id elementum eget tellus. Curabitur arcu sed imperdiet nam. Mus a nibh eget aliquam laoreet nec, nunc malesuada.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi ac et quam venenatis. Eget proin facilisis porttitor sit commodo enim. Sapien tortor, nisi porta ac sit sed odio eros. Quam id id elementum eget tellus. Curabitur arcu sed imperdiet nam. Mus a nibh eget aliquam laoreet nec, nunc malesuada.
      </p>
      <p>Sit viverra lacus, fusce sed. Morbi et nulla dictum pharetra viverra fusce netus nulla eleifend. Volutpat sed non sem varius et proin odio eget. Id magna suscipit sit risus vel lectus suscipit ultrices. Quis elit dolor amet eget. </p>
      <i class='fa fa-github'></i>
    </div>
  </div>

  <div class='footer'>
    <img class='footer-logo' src='./assets/botLogo.png'/>
    <div>
      <p>Ishita Kabra</p>
      <div class='row footer-mtop'>
        <i class='fa fa-github ficon'></i>
        <i class='fa fa-linkedin ficon'></i>
        <i class='fa fa-envelope ficon'></i>
      </div>
    </div>
  </div>

  <script src='./js/index.js'></script>
</body>
</html>